<!DOCTYPE html>
<html>
<head>
  <title>Gogogox</title>
  <meta charset="UTF-8">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "utilizer/stylings.css" %}">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
  {% load staticfiles %}
  <script src="{% static "utilizer/fblogin.js" %}"></script>

  <div id="header">
    <div class="fb">
      <!--
        Below we include the Login Button social plugin. This button uses
        the JavaScript SDK to present a graphical Login button that triggers
        the FB.login() function when clicked.
      -->
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
    </div>
    <button type="button" id="addButton">+</button>
  </div>
  <center>
    I'm bored.<br>
    Give me 
      <div class="dropdown">________
			<ul> 
        <li id="anything"><a href="/utilizer/result?tag=anything&time=0">anything </a></li>
				<li id="interesting"><a href="/utilizer/result?tag=interesting&time=0">something interesting</a> </li>
				<li id="productive"><a href="/utilizer/result?tag=productive&time=0">something productive</a> </li>
				<li id="relaxing"><a href="/utilizer/result?tag=relaxing&time=0">something relaxing</a> </li>
			</ul>
      </div>
     to do.
     <br>
  <center>

</body>
</html>