<!DOCTYPE html>
<html>
<head>
  <title>Gogogox</title>
  <meta charset="UTF-8">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "utilizer/stylings.css" %}">
</head>
<body>
  {% load staticfiles %}
  <script src="{% static "utilizer/fblogin.js" %}"></script>

  <div class="fb">
    <!--
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    -->
    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
  </div>
  <div id="status">
  </div>
  <button type="button" id="addButton">+</button>

</body>
</html>